@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Source+Code+Pro:wght@200&display=swap');
.container {
  width: 70%;
  margin: auto;
  text-align: center;
  font-family: 'Palette Mosaic', cursive;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
button {
  align-items: center;
  font-size: 1.5rem;
  background-color: #4ECCA3;
  height: 50px;
  margin: 5% 8% 0%;
  width: 100px;
}
.result{
  font-family: 'Source Code Pro', monospace;
  font-size: 3rem;
  color: #4ECCA3;
}